.card {
  background-color: #283444;
  padding: 10px;
  color: white;
  width: 67%;
}
.card__info {
  display: flex;
  align-items: center;
}
.card__info-avatar {
  border-radius: 50%;
  height: 40px;
  width: 45px;
}
.card__info-autor {
  font-weight: 700;
  font-size: 17px;
  margin-left: 5px;
}
.card__info-logo {
  height: 25px;
  margin-left: 5px;
}
.card__info-data {
  color: gray;
  font-size: 13px;
  font-weight: 700;
  margin-left: 7px;
}
.card__main-text {
  font-weight: 500;
  margin-left: 50px;
  font-size: 14px;
}
.card__main-img {
  border-radius: 10px;
  width: 92%;
  margin-top: 7px;
  margin-left: 50px;
}
.card__reactions {
  display: flex;
  justify-content: space-evenly;
}
.coments {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  cursor: pointer;
}
.coments-img {
  height: 15px;
}
.share {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  cursor: pointer;
}
.share-img {
  height: 15px;
}
.likes {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  cursor: pointer;
}
.likes-img {
  height: 15px;
}
.download {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  cursor: pointer;
}
.download-img {
  height: 15px;
}
